.lp{
    transform: translateX(10%);
   
}
.rp{
    transform: translateX(-50%);
}
.slide-in {
    animation: l39 1s ease-in-out forwards;
  }
  
  @keyframes l39 { 
    100%{
        transform: translateX(0%)
    }
  }
