.showSlideMenu{
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hideSlideMenu{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.main-nav{
    backdrop-filter: blur(60px);
    display: flex;
    top: -20px !important;
    padding-bottom: 10px !important;
}
  img:hover {
    perspective: 1000;
    transform-style: preserve-3d;
    transform: rotate3d(0, 1, 0, 0deg);
    animation: spin 1s  ease-out infinite ;
    backface-visibility: inherit;
  }

@keyframes spin {
    from{
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to{
        transform: rotate3d(0, 1, 0, 360deg);
    }
}
.name{
    display: inline-block;   
    border-style: dashed;
    font-size: 3rem !important;
    width: fit-content;
    line-height: 1.2em;
    height:1.2em;
    padding-top: 13px;
    text-align: start;
    overflow: hidden !important;
}

  .animateName:before {
    content:"Manish.\A\A\A⌰anish\A⌰⍜nish\A⌰⍜⏃ish\A⌰⍜⏃⎅sh\A⌰⍜⏃⎅⟟h\A⌰⍜⏃⎅⟟⋏g\A⌰⍜⏃⎅⟟⋏☌\A⌰⍜⏃⎅⟟⋏☌⟒.\A⌰⍜⏃⎅⟟⋏.\A⌰⍜⏃⎅⟟⋏☌"; 
    white-space: pre;
    display: inline-block;
    animation: l39 1s  steps(11) alternate;
  }
  
  @keyframes l39 {
    100%{transform: translateY(-100%)}
  }

  @media only screen and (max-width: 600px) {
   .name{
    text-align: center;
   }
  }