.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.blur-rm > span{
    filter: blur(0px) !important;
}
.skill:hover{
    transform: scale3d(1.2,1.2,1.2) !important;
    transition: transform 0.5s ease-out !important;
}

.skill:not(:hover){
    filter: blur(4px);
}


.neon-border {
  position: relative;
  /* padding: 10px; */
  border-radius: 5px;
  /* background-color: #fff; */
}

.neon-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border-bottom: 2px solid #cbe056; /* neon green */
  border-right: 0px solid #cbe056; /* neon green */
  animation: blink 1s alternate ease-in-out forwards ;
}


@keyframes blink {
  from {
    border-bottom: 2px solid #cbe056; /* neon green */
    border-right: 0px solid #cbe056; /* neon green */
    border-color: #eddfb6; /* neon green */
    transform: translateX(100%);
  }

  to {
    border-bottom: 2px solid #cbe056; /* neon green */
    border-right: 2px solid #cbe056; /* neon green */
    border-color: #e2cba1; /* neon green */
    transform: translateX(0%);
  }
}

